[Unit]
Description=BubbleUPnP Server

[Service]
EnvironmentFile=/etc/conf.d/bubbleupnpserver
WorkingDirectory=/usr/lib/bubbleupnpserver
User=bubble
Group=bubble
RemainAfterExit=true
Restart=on-failure
ExecStart=/usr/bin/bubbleupnpserver

[Install]
WantedBy=network.target
WantedBy=multi-user.target

