[Unit]
Description=BubbleUPnP Server

[Service]
EnvironmentFile=/etc/conf.d/bubbleupnpserver
ExecStart=/usr/bin/bubbleupnpserver
WorkingDirectory=/usr/lib/bubbleupnpserver
User=bubble
Group=bubble
RemainAfterExit=true
Restart=on-failure

[Install]
WantedBy=network.target
WantedBy=multi-user.target

