[Unit]
Description=BubbleUPnP Server
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/bubbleupnpserver -dataDir /var/lib/bubbleupnpserver -httpPort 58050 -httpsPort 58051 -nologstdout

[Install]
WantedBy=multi-user.target
